@model IEnumerable<string>
<h3>Категории</h3>
<ul>
    <li><a href="Phones">Phones</a></li>
    <li><a href="Cameras">Cameras</a></li>
    <li><a href="Notebooks">Notebooks</a></li>
    <li><a href="Headphoneses">Headphoneses</a></li>
</ul>