<h3>Категории</h3>
<ul>
    <li><a asp-controller="Catalog" asp-action="Phones">Phones</a></li>
    <li><a asp-controller="Catalog" asp-action="Cameras">Cameras</a></li>
    <li><a asp-controller="Catalog" asp-action="Notebooks">Notebooks</a></li>
    <li><a asp-controller="Catalog" asp-action="Headphoneses">Headphoneses</a></li>
</ul>