@using Layouts.Models
@{
    ViewData["Title"] = "Home Page";
}
    <nav class="col-xl-2">
        @await Html.PartialAsync("_GetCategories")
    </nav>
<article class="col-md-14 col-xl-10">
    <div class="text-center">
        <h1 class="display-4">All headphoneses in catalog</h1>
        <p>
            <table class="table table-hover">
                <tr><th>Id</th><th>Brand</th><th>Model</th><th>Price</th></tr>
                @foreach (Headphoneses item in ViewBag.Content)
                {
            <tr>
                <td>@item.Id</td>
                <td>@item.Brand</td>
                <td>@item.Model</td>
                <td>@item.Price</td>
            </tr>
                }
                </table>
         </p>
     </div>
</article>