dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
    padding-left: 0;
}
.nav {
    width: 100%;
    margin: 20px 0 20px 0;
    max-width: 1140px;
    border-radius: 5px;
    border: 1px solid black;
    background: #80808038;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}
.col-xl-2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid black;
}

.col-md-8 {
    margin-left: 20px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px dotted black;
}

.col-md-14 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px dotted black;
}

a.navbar-band {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.footerinner {
    width: 100%;
    margin: 20px 0 20px 0;
    max-width: 1140px;
    border-radius: 5px;
    border: 1px solid black;
    background: #8080808c;
    text-align: center;
}

.text-muted {
    color: #000000 !important;
    font-size: 25px;
}

.border-top {
    border-top: 1px solid #ffffff !important;
}