@model IEnumerable<string>
<h3>Категории</h3>
<ul>
    <li><a href="Catalog/Phones">Phones</a></li>
    <li><a href="Catalog/Cameras">Cameras</a></li>
    <li><a href="Catalog/Notebooks">Notebooks</a></li>
    <li><a href="Catalog/Headphoneses">Headphoneses</a></li>
</ul>