
@{
    ViewData["Title"] = "Contact";
}

<nav class="col-xl-2">
    @await Html.PartialAsync("_GetCategories", new List<string> { "Mobile phone", "Notebook", "Camera", "Headphones" })
</nav>
<article class="col-md-14 col-xl-10">
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <h2>ул. Скрыганова, 14, <br>5-й этаж, г. Минск</h2>
        <p>
            бизнес-центр&nbsp;«Контур»,
        </p>
        <p>
            м. Молодежная, 5 минут пешком.
        </p>
        <p>
            <sub>Троллейбусы: 4, 7, 9, 13, 44, 57</sub><sub>Автобусы: 40, 46, 50, 78, 163</sub><sub>Маршрутка: 1212</sub>
        </p>
        <p><img src="https://www.it-academy.by/upload/iblock/993/993a7c0e650c5c9c787580971ab2fd5c.png"></p>
    </div>
</article>