@{
    ViewData["Title"] = "Home Page";
}
<nav class="col-xl-2">
    @await Html.PartialAsync("_GetCategories", new List<string> { "Mobile phone", "Notebook", "Camera", "Headphones" })
</nav>
<article class="col-md-14 col-xl-10">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus interdum neque et imperdiet. Duis augue diam, interdum nec eros ac, sagittis consectetur neque. Donec orci metus, congue nec ligula eu, mattis lobortis mi. Mauris et augue ultrices, efficitur nulla ultrices, viverra magna. Sed in magna quis arcu euismod tincidunt tempus nec lacus. In eget tellus in est fermentum tempor lobortis vitae quam. Maecenas hendrerit non ipsum varius ultricies.
        </p>
        <p>
            Curabitur congue non massa vel pretium. Pellentesque quis metus purus. Suspendisse at ligula eu felis vestibulum pellentesque in eu elit. Ut est est, vestibulum placerat eros vel, euismod cursus odio. Ut imperdiet sed leo at porta. Morbi aliquam sit amet magna eu molestie. Praesent aliquet urna dolor, a condimentum dui pretium ultricies. Nulla lacinia commodo leo ut auctor. Phasellus eu libero vitae lectus facilisis dictum. Praesent est nulla, commodo in lacus sit amet, ullamcorper congue neque. Aenean ac venenatis odio. Donec eget sem lectus. Integer convallis nisl ac dui tristique efficitur. Sed tristique molestie lectus sit amet pretium. Ut ut condimentum lorem.
        </p>
        <p>
            Praesent posuere ex sit amet tincidunt luctus. Integer mattis in orci sed rutrum. Praesent suscipit felis justo, ut egestas nunc ultricies ut. Pellentesque vel semper justo. Proin facilisis neque quis vehicula mattis. Donec a mi a purus bibendum mattis ac vel turpis. Morbi ac sapien non sapien mattis venenatis. Pellentesque sit amet vehicula eros. Sed vestibulum erat blandit malesuada scelerisque. Nulla lectus tellus, condimentum eu leo laoreet, porttitor pulvinar arcu. Nullam ut luctus dui. Curabitur a pretium neque, et rutrum mauris. Aliquam eget rhoncus justo. In hac habitasse platea dictumst. Praesent vitae quam mollis, finibus magna a, mollis augue.
        </p>
    </div>
</article>
