@{
    ViewData["Title"] = "About";
}
<article class="col-md-14 col-xl-12">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>

        <p>
            Praesent posuere ex sit amet tincidunt luctus. Integer mattis in orci sed rutrum. Praesent suscipit felis justo, ut egestas nunc ultricies ut. Pellentesque vel semper justo. Proin facilisis neque quis vehicula mattis. Donec a mi a purus bibendum mattis ac vel turpis. Morbi ac sapien non sapien mattis venenatis. Pellentesque sit amet vehicula eros. Sed vestibulum erat blandit malesuada scelerisque. Nulla lectus tellus, condimentum eu leo laoreet, porttitor pulvinar arcu. Nullam ut luctus dui. Curabitur a pretium neque, et rutrum mauris. Aliquam eget rhoncus justo. In hac habitasse platea dictumst. Praesent vitae quam mollis, finibus magna a, mollis augue.
        </p>

        <p>
            Nullam ligula quam, vulputate nec magna eu, mollis bibendum ex. Aliquam et elit lorem. Aenean interdum, lorem in pulvinar laoreet, arcu ligula commodo sapien, vel finibus leo lorem quis mauris. Vivamus a vulputate velit. Vivamus ullamcorper fermentum nisl, sed dictum nulla convallis a. Sed aliquam, odio at fringilla semper, leo sem congue purus, quis eleifend metus quam a libero. Vestibulum cursus eu neque a mollis. Aenean tortor tortor, luctus ut urna pretium, pharetra posuere lacus. Aenean et quam dapibus eros dapibus hendrerit. Phasellus eleifend turpis in fringilla faucibus. Nullam tempus rutrum arcu tempor suscipit. Nulla dictum neque vitae tortor imperdiet ornare. Aenean dignissim justo non vehicula posuere. Ut lorem dolor, facilisis in mi sed, dictum molestie odio.
        </p>

        <p>
            Nunc sollicitudin leo eget quam interdum tincidunt. Nullam risus lacus, eleifend nec ornare ut, molestie et eros. Donec varius ipsum quis sagittis efficitur. Nullam lobortis ac arcu vitae facilisis. Pellentesque nec massa id justo efficitur tristique quis nec nibh. Phasellus at justo a nunc maximus tempus. Curabitur et condimentum lacus. In ex ex, faucibus vitae luctus nec, mattis sed est. Maecenas gravida lacus quis nulla malesuada, eget scelerisque est auctor.
        </p>
    </div>
</article>